@charset "UTF-8";
/* CSS Document */

body {
	margin:0px;
	padding:0px;
	width: 100%;
	background-image:url(skullsbg.png);
	text-align: center; /* this centers the container in IE 5* browsers. The text is then set to the left aligned default in the #container selector */
	font-family: Cambria, Georgia, "Times New Roman", Times, serif;
	color: #333333;
	font-size:18px;
}

a {
	color: #006600;
	text-decoration: none;
	font-weight: bold;
}
a:active {
}
a:focus {
}
a:hover {
	text-decoration: underline;	
}
a:visited {
}

hr {
	border:0px;
	color: #999999;
	background-color: #999999;
	height: 1px;
	width:80%;
	margin:20px 0px 20px 0px;

}


.centered {
	right: 0;
	left: 0;
	width: 1062px;
	margin: auto;
	text-align: left;
	vertical-align:top;
} 

.welcome {
	width:1062px;
	height:658px;
	background:url(welcome.png);"
}

.left_col {
	position: relative;
	left: 45px;
	top: 280px;
	width: 200px;
}

.connect {
	position: relative;
	left:45px;
	top: 40px;
}
	
	
.smalltext {
	font-style:italic;
	margin:0px;
	padding:0px;
	font-size:14px;
	color: #666666;
}

#frankenbrain_div {
	position: relative;
	float: right;
	width:200px;
	left: 390px;
	top: 155px;
}
#frankenbrain_link {
	position: relative;
	left: 390px;
	top: 155px;
	display: block;
	width: 200px;
	height: 45px;
	background-color:red;
}

/** Declaration for the a.singleRollover selector **/

a.score_btn {
	display: block;
	width: 200px;
	height: 45px;
	background: url(score_btn.png) no-repeat 0 0;
}

/** Declaration for the additional states of the a.singleRollover selector **/

a:visited.score_btn {
}

a:hover.score_btn {
	background-position: 0 -49px;
}

a:active.score_btn {
	background-position: 0 -49px;
}
